<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="/public/css/styles.css">

</head>
<body>

    <div id="prestige--app">

        <div id="app__header">

        </div>

        <div id="welcome--app">
            <div class="sldr-container--app">
                <div class="attached-center dsp-flx">
                    <div class="headegger">
                        <div class="big-head">
                            prestige
                        </div>
                        <div class="small-txt">
                            hight tech finance
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-ribbon-inf clearfix">

            </div>
            <div class="market-tv-streaming clearfix">

            </div>
            <div class="whoami clearfix">
                <div class="portrait">
                </div>
            </div>
            <div class="about clearfix">
                <!---<div class="attached-center">-->
                    <div class="box-block-half oldman">
                        <div class="shaded-window"></div>
                        <div class="desc-footer-card dg"></div>
                    </div>
                    <div class="box-block-half structure">
                        <div class="shaded-window"></div>
                        <div class="desc-footer-card">
                            <div class="box-percent">
                                7.5%
                            </div>
                            <div class="description">
                                <div class="desc-title">
                                    We reached our goal
                                </div>
                            </div>
                        </div>
                    </div>
                <!--</div>-->
            </div>
            <div class="our-team">
                <div class="attached-center clearfix">
                    <div class="headegger">
                        <div class="big-head">
                            Meet Our Team
                        </div>
                        <div class="small-txt">
                            A perfect blend of creativity and technical wizardy the best people formula for great business.
                        </div>
                    </div>
                    <ul class="team-card-board">
                        <li class="member-card"></li>
                        <li class="member-card"></li>
                        <li class="member-card"></li>
                        <li class="member-card"></li>
                    </ul>
                </div>
            </div>
        </div>

        <footer id="__footer--app">

        </footer>

    </div>

</body>
</html>
