<%- contentFor('hero') %>

    <div id="app--startup__">

        <div class="__cluster">
            <div class="__form--fields-env">
                <div class="__header--dir"></div>
                <div class="__form--fields">
                    <form action="/login" method="POST" >



                        <div class="stage_1">
                            <h2> Sign in </h2>
                            <div class="__read-first">
                                Haven't an account yet? <a href="/">Sign up here</a>
                            </div>
                            <div class="__input--group">
                                <label for=""> Email address or username </label>
                                <input type="email" class="__emial" id="__email" value="" required data>
                            </div>
                            <div class="__input--group">
                                <label for=""> Password </label>
                                <input type="password" class="__password" id="__password" value="" data>
                            </div>

                            <div class="__read-first">
                                By clicking "Create account" you agree to our <a href=""> Terms of service </a> and <a href=""> Privacy policy </a>
                            </div>

                            <div class="__action">
                                <a href="" class="__form--btn" id="__next"> Sign in </a>
                            </div>
                        </div>



                    </form>
                </div>
            </div>
            <div class="__road--env">
                <div class="__box-road-inf">
                    <div class="h-isotype">
                        Welcome to Prestige
                    </div>
                    <div class="inf">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam similique facere delectus.
                    </div>
                    <div class="__road">
                        <p>Sign up</p>
                        <p>Account type</p>
                        <p>Verify your email</p>
                        <p>Address information</p>
                        <p>Confirmation</p>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <!-- <script src="main.js"></script>
    <script src='request.js'></script> -->

    </script>

    </script>

<%- contentFor('body') %>
