<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh" content="15" >

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> PRESTIGE </title>

    <link rel="stylesheet" href="/public/css/styles.css">

</head>
<body>

    <div id="app--startup__">

        <div class="__cluster">
            <div class="__form--fields-env">
                <div class="__header--dir"></div>
                <div class="__form--fields">
                    <form action="" >



                        <div class="stage_1">
                            <h2> Sign up </h2>
                            <div class="__read-first">
                                Already a prestige member? <a href="/login">Sign in here</a>
                            </div>
                            <div class="__input--group">
                                <label for=""> Full name </label>
                                <input type="text" class="" id="" value="" data>
                            </div>
                            <div class="__input--group">
                                <label for=""> Email address </label>
                                <input type="email" class="" id="" value="" required data>
                            </div>
                            <div class="__input--group">
                                <label for=""> Telegram username </label>
                                <input type="text" class="" id="" value="" data>
                            </div>
                            <div class="__input--group">
                                <label for=""> Phone number </label>
                                <input type="phone" class="" id="" value="" required data>
                            </div>
                            <div class="__input--group">
                                <label for=""> Password </label>
                                <input type="password" class="" id="" value="" data>
                            </div>

                            <div class="__read-first">
                                By clicking "Create account" you agree to our <a href=""> Terms of service </a> and <a href=""> Privacy policy </a>
                            </div>

                            <div class="__action">
                                <a href="" class="__form--btn reg_data" id="__next"> create account </a>
                            </div>
                        </div>




                        <div class="stage_2">
                            <h2> Wallet and card info </h2>
                            <div class="__read-first">
                                Already a prestige member? <a href="">Sign in here</a>
                            </div>
                            <div class="__input--group">
                                <label for=""> Bitcoin wallet </label>
                                <input type="text" class="" id="" value="" data>
                            </div>
                            <div class="__input--group">
                                <label for=""> Ethereum wallet </label>
                                <input type="text" class="" id="" value="" data>
                            </div>
                            <div class="__input--group">
                                <label for=""> Litecoin wallet </label>
                                <input type="text" class="" id="" value="" data>
                            </div>

                            <div class="__read-first">
                                By clicking "Create account" you agree to our <a href=""> Terms of service </a> and <a href=""> Privacy policy </a>
                            </div>

                            <div class="__action">
                                <button>verify wallets</button>
                            </div>
                        </div>



                        <div class="stage_3">

                            <h2> Verify your email </h2>

                            <div class="__read-first">
                                Haven't recieve your token? <a href="">Resend</a>
                            </div>

                            <div class="__input--group">
                                <input type="text" class="" id="" value="" data>
                            </div>

                            <div class="__action">
                                <button>verify my account</button>
                            </div>
                        </div>



                        <div class="stage_4">
                            <h2> Confirmation </h2>
                        </div>


                    </form>
                </div>
            </div>
            <div class="__road--env">
                <div class="__box-road-inf">
                    <div class="h-isotype">
                        Welcome to Prestige
                        <p>Signals VIP room</p>
                    </div>
                    <div class="inf">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam similique facere delectus.
                    </div>
                    <div class="__road">
                        <p class="route">Sign up</p>
                        <p class="route">Account type</p>
                        <p class="route">Verify your email</p>
                        <p class="route">Address information</p>
                        <p class="route">Confirmation</p>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="main.js"></script>

</body>
</html>
