<%- contentFor('hero') %>
<form action="/tes" method="POST">

        <div class="form-group">
          <label>Name</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Your Message</label>
          <input type="text" name="message" class="form-control">
        </div>

        <div class="form-group text-right">
          <button type="submit" class="btn btn-primary btn-lg">Send</button>
        </div>

      </form>

  <script src="public/js/request.js" type="text/javascript">
<%- contentFor('body') %>
